<h1>Dictionary</h1>

<p>Your words and their definitions:</p>
<p>( $Queen )</p>
<p>( $King )</p>

<p>Enter a word, then enter its definition.</p>
<form action="/words" method="post">
  <label for="word">Enter a word:</label>
  <input type="text" name="word" id="word">

  <label for="definition">Enter its definition</label>
  <input type="text" name="definition" ="definition">

  <button type="submit" class="btn btn-success">Submit</button>
</form>
